* {
    margin: 0;
    padding: 0;
    border-radius: 5%;
    align-items: center;
}

body {
    width: 350px;
    height: 500px;
    border: 0 solid;
    background: rgb(119, 119, 119);
    position: absolute;
    left: 35%;
    top: 10%;
}

header {
    width: 350px;
    height: 350px;
    background-image: url(/assets/img/bg.jpeg);
    opacity: 0.8;
    color: rgb(255, 255, 255);
    box-shadow: 0px 20px 100px black;
    text-align: center;
}


header h1, header h3 {
    position: relative;
    top: 75%;
    text-transform: uppercase;
}

main {
    width: 260px;
    height: 80px;
    position: relative;
    left: 13%;
    background: white;
    box-shadow: 0px 20px 100px black;
    opacity: 0.7;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 2;
}

.social {
    display: flex;
    justify-content: space-around;
    padding: 2px 2px 2px 2px;
    position:relative;
    top: 20%;
}

.social p {
    font-weight:bolder;
    font-size: 20px;
    text-align: center;
}

.social h5 {
    font-weight:100;
    font-size: 12px;
    text-align: center;
}

footer {
    width: 190px;
    height: 50px;
    background: rgb(188, 141, 233);
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    left: 23%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 20px 100px black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;
}

footer p {
    position: relative;
    top: 30%;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: white;
}